

/*** Global Layout Set-up ***/
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Bree Serif', serif;
  color: #404040;
  background: #fff;
}
/*** Link Styles ***/

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #6633ff;
}

a.selected {
  color: white;
}



/*** Section Styles ***/

/* Navigation Bar */
.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  list-style-type: none;
  margin: 0 auto;
  padding-top: 30px;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: white;
}

/* Header Background, Profile Image and text */

header {
  text-align: center;
  background: url('images/sanfrancisco.jpg') no-repeat top center;
  padding-top: 60px;
}

header {
  line-height: 1.5;
}

header div {
  margin: auto;
  padding: 5px 5px 5px 5px;
  max-width: 300px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 6px;
}


.profile-image {
  margin-top: 70px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid white;
  background: #202022;
  transition: all .5s;
}
.profile-image:hover {
  transform: scale(1.2) rotate(5deg);
  box-shadow: 0 0 20px #fff;
}

.tag {
  color: white;
  padding: 0;
  display: table;
  margin: 10px auto;
  text-shadow: 1px 1px 2px black;
} 
.location {
  color: white;
  padding: 0;
}



/* Background and Goals Cards main page */

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: rgba(0, 0, 0, .02);
  border-bottom: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: darkgrey;
}

.pixel-art {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  border: 1px solid lightgrey;
  background-color: darkgrey;
}

.pixel-art:hover {
  transform: scale(1.2);
}

.pixel-quote {
  width: 100%;
  list-style-type: none;
  margin-top: 10%;
}

.pixel-quote ul {
  padding-left: 0;
}

.pixel-quote ul li {
  display: inline-block;
  margin-right: 10px;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

.articles {
  margin: auto;
  padding: 20px 40px 40px;
  max-width: 882px;
  text-align: left;
}

.article-link {
  display: inline-block;
  width: 400px;
  margin: auto;
  border: 1px solid lightgrey;
  min-height: 164px;
}


/* Experience page */

.example-work {
  width: 100%;
  box-shadow: 3px 3px 1px #888888;
  max-height: 142px;
  margin-top: 10px;
}

.example-work:hover {
  transform: scale(1.025);
}

.projects {
  margin: auto;
  padding: 20px 40px 40px;
  max-width: 850px;
  text-align: left;
  transition: all .5s;
  background: rgba(0, 0, 0, .02);
}

.projects h2 {
  font-weight: 500;
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 10px;
}

#project-text {
  padding-top: 0;
  padding-bottom: 20px;
}

.example-text {
  margin: 5px 0 0 0;
  padding-bottom: 10px;
  color: grey;
  font-weight: 100;
}

/* Footer */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 100px auto 10px;
  }

}


